.well.well-lg
  = simple_form_for :session, url: login_path do |f|
    = f.error_notification
    = f.input :email, required: false
    = f.input :password, required: false, input_html: { minlength: 6 }
    = f.input_field :remember_me, as: :boolean, label: 'Remember Me'
    = f.button :submit, 'Log in', class: 'btn btn-raised'

    %p
      New user?
      = link_to 'Sign up now!', signup_path
