= simple_form_for @word do |f|
  = f.error_notification
  = f.input :title, required: false
  = f.input :body, as: :text, required: false
  = f.association :language, as: :select, include_blank: false, required: false
  - if @word_to_translate
    = hidden_field_tag 'word[translation_of]', @word_to_translate.id
  = f.button :submit, class: "btn btn-raised"
  - if params['action'] == 'edit'
    = link_to 'Delete', word_path(@word), :method => :delete, class: "btn btn-flat btn-danger"