.well.well-lg
  %h1= @word.title
  %p= @word.body
  %p= raw @word.tag_list.map { |t| link_to t, tag_words_path(t)}.join(', ')

  - if logged_in?
    = link_to 'Edit', edit_word_path(@word), class: 'btn btn-default btn-raised'
  - if @word.versions.count > 0
    = link_to 'Versions', { controller: 'versions', action: 'index' },
      class: 'btn btn-default btn-raised'

= render 'translations'
