!!!
%html
  %head
    %title= @title ? @title + ' - Webspeak' : 'Webspeak'
    = stylesheet_link_tag 'application', media: 'all',
      'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    %header
      .navbar.navbar-default.navbar-static-top
        .container
          .navbar-header
            = link_to 'Webspeak', '/', class: 'navbar-brand'
          .navbar-collapse.collapse.navbar-responsive-collapse
            %ul.nav.navbar-nav.navbar-right
              %li{ class: current_page?('/new') && 'active' }
                = link_to 'New Word', controller: 'words', action: 'new'
            = form_tag({ controller: 'search', action: 'search' },
              class: 'navbar-form navbar-left', method: :get) do
              .form-group
                = search_field_tag :query, params[:query], class: 'form-control',
                  id: 'word_search', autocomplete: 'off', placeholder: 'Search'
              = submit_tag 'Search', class: 'btn btn-primary hidden'
    .main.container
      = render 'layouts/flash_messages'
      = yield
